* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;

}
/*头部*/
#head {

    width: 976px;
    height: 150px;
    background: url("../images/h_bg.png");
}
iframe{
    width: 1000px;
    height: 155px;
    frameborder:0;
}

/*头部导航1*/
#nav {
    float: left;
    width: 976px;
    height: 30px;
    margin-top: 10px;
    font-weight: bold;
}

#nav ul {
    list-style-type: none;

}

#nav ul li {
    float: left;
    width: 83px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

#nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    width: 83px;
    height: 30px;
}

#nav ul li a:hover {
    background-image: url("../images/nav_bg.gif");

    width: 80px;
    height: 30px;

}

/*头部导航1*/
#subnav {
    float: right;
    width: 450px;
    height: 50px;
    margin-top: 5px;
    line-height: 30px;
    font-size: 12px;
}
#subnav li input{
    background-color: white;
    border:solid 1px gainsboro;
    border-radius: 5px;
    margin-left: 10px;
}

#subnav ul {
    list-style-type: none;
}

.headpic {
    width: 25px;
    height: 30px;
    background-image:url("../images/icon.gif");
    background-repeat: no-repeat;
}

#pic1 {
    background-position: 0 0;
}

#pic2 {
    background-position: -40px 0;
}

#pic3 {
    background-position: -82px 2px;
}

#pic4 {
    background-position: -125px 0;
}

#subnav ul li {
    float: left;
}

#wealcome {
    width: auto;
    height: auto;
    float: right;
    margin-top: 70px;
    margin-right: -250px;
}

