* {
    padding: 0;
    margin: 0;
}

#head {
    width: 976px;
    height: 150px;
    margin: auto;
}

#foot {

    width: 1000px;
    height: 150px;
    margin: auto;
    overflow: hidden;

}

iframe {
    width: 986px;
    height: 150px;
    border: 0;
}

#main {
    margin: auto;
    width: 1000px;
    height: 400px;
    font-size: 12px;
    background: url("../images/reg_bg.gif") no-repeat;
}
#year{
    width: 40px;
}
#left {
    float: left;
    margin-top: 50px;
    width: 450px;
    height: 400px;
    padding-left: 50px;

}


.textright {
    text-align: right;
    line-height: 30px;
}
#textarea{
    width:243px;
    height: 250px;
    overflow: hidden;
}
.text {
    width: 150px;

}

.pwd {
    width: 151px;
}

#right {
    float: left;
    margin-top: 50px;
    padding-left: 40px;
    padding-top: 50px;
    width: 430px;
    height: 400px;
}
